<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Mega Instalações</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<nav>
    <div class="nav-wrapper" style="background-color: white">
        <a href="#" class="brand-logo center" style="color: black;">Mega Instalações</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/clientes" style="color: black;">LISTA DE CLIENTES</a></li>
            <li><a href="/cadastro" style="color: black;">CADASTRAR CLIENTE</a></li>
        </ul>
    </div>
</nav>

    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>